<!DOCTYPE html>
<html>
  <head>
    <title>Event Management</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="flex">
      <div class="flex-50 left">
        <a href="#" class="logo">Home</a>
      </div>
      <div class="flex-50 right">
        <a href="/events/new" class="btn">Add Event</a>
        <!-- <a href="/authors/new" class="btn">Add Author</a> -->
      </div>
    </header>
    <div class="container center hero">
      <h1>Welcome to Event Management App</h1>
      <a href="/events" class="btn btn2">View Events</a>
    </div>
  </body>
</html>
